.pagination {
	display: flex;
	gap: $spacing_1;
	align-items: center;
	justify-content: flex-end;
	margin-top: $spacing_2;

	&__button {
		min-width: 10rem;
	}

	&__current-page {
		display: inline-block;
		min-width: 3.5rem;
		text-align: center;
	}
}
