.login-page {
	width: 100%;
	max-width: 40rem;
	margin-inline: auto;
	margin-block: auto;
	padding: $spacing_2;
	text-align: center;
	border: 1px solid $color_zinc_750;
	border-radius: 0.4rem;

	&__title {
		@include font-h3;

		margin-bottom: $spacing_8;
	}

	&__btn {
		width: 100%;
		padding: $spacing_2;
		color: $color_zinc_950;
		transition: 250ms ease-in-out;
		transition-property: color, background-color;
		border-radius: 0.4rem;
		background-color: $color_zinc_50;

		@include on-hover {
			color: $color_text;
			background-color: $color_zinc_500;
		}
	}
}
