.login-page {
	width: 100%;
	max-width: 40rem;
	margin-inline: auto;
	margin-block: auto;
	padding: $spacing_2;
	text-align: center;
	border: 1px solid $color_zinc_750;
	border-radius: 0.4rem;

	&__title {
		@include font-h3;

		margin-bottom: $spacing_8;
	}

	&__btn {
		width: 100%;
	}
}
