.volume-edition {
	&__title {
		margin-bottom: $spacing_1;
	}

	&__inner {
		padding: $spacing_2;
		border: 1px solid $color_zinc_750;
		border-radius: 0.4rem;
	}

	&__details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $spacing_2;
	}

	&__details-key {
		@include font-small-alt;

		color: $color_zinc_250;
	}

	&__details-value {
		@include font-small;

		&--print-type {
			text-transform: lowercase;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}
