.volume-edition {
	&__details {
		display: grid;
		grid-template-columns: 1fr;
		gap: $spacing_2;
	}

	&__details-key {
		@include font-small-alt;

		color: $color_zinc_250;
	}

	&__details-value {
		&--print-type {
			text-transform: lowercase;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}
