.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: $spacing_2;
	position: relative;
	font-weight: 500;
	text-align: center;
	transition: $transition_default;
	transition-property: color, background-color, border-color;
	border: 1px solid;
	border-radius: 0.4rem;

	&__content {
		&--is-hidden {
			visibility: hidden;
			opacity: 0;
		}
	}

	&--light {
		color: $color_bg;
		border-color: $color_text;
		background-color: $color_text;

		@include on-hover {
			color: $color_text;
			border-color: $color_zinc_500;
			background-color: $color_zinc_500;
		}

		&[disabled] {
			border-color: transparent;
			background-color: rgba($color_text, 0.5);
		}
	}

	&--medium {
		color: $color_text;
		border-color: $color_zinc_750;
		background-color: $color_zinc_750;

		@include on-hover {
			border-color: $color_zinc_750;
			background-color: $color_zinc_900;
		}

		&[disabled] {
			color: $color_zinc_250;
			border-color: rgba($color_zinc_750, 0.25);
			background-color: rgba($color_zinc_750, 0.5);
		}
	}

	&--dark {
		color: $color_text;
		border-color: $color_zinc_900;
		background-color: $color_zinc_900;

		@include on-hover {
			color: $color_bg;
			border-color: $color_text;
			background-color: $color_text;
		}


		&[disabled] {
			border-color: rgba($color_zinc_900, 0.25);
			background-color: rgba($color_zinc_900, 0.5);
		}
	}

	&--small-size {
		@include font-small-alt;

		padding: $spacing_1;
	}

	&--large-size {
		@include font-base;
	}
}
