.dashboard-page {
	display: flex;
	flex-direction: column;
	gap: $spacing_5;
	height: 100%;

	&__title {
		@include font-h2;
	}

	&__description {
		@include font-h4;

		font-weight: normal;
	}

	&__reading-now {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: $spacing_2;
		width: 100%;
		max-width: 100%;
	}

	&__view-all {
		margin-right: auto;
	}
}
