$color_zinc_50: #f0f1f3;
$color_zinc_100: #e0e3e7;
$color_zinc_250: #b3b9c5;
$color_zinc_500: #6f7887;
$color_zinc_750: #373c44;
$color_zinc_900: #191c20;
$color_zinc_950: #0f1114;
$color_red_500: #d93526;
$color_text: $color_zinc_50;
$color_bg: $color_zinc_950;
