$font_sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
	'Noto Color Emoji';
$font_serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
$font_mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
