.volume-thumbnail {
	$self: &;

	&__image {
		width: 4rem;
		max-height: 5.6rem;
		border-radius: 0.4rem;
		object-fit: cover;
	}

	&--size-auto {
		#{$self}__image {
			width: auto;
			min-width: 1rem;
			max-height: 100%;
		}
	}
}
